<link rel="stylesheet" href="css/navbar.css">
<nav>
    <div class="nav-top">
        <a href="index.html" class="brand">
            <i class="fa-regular fa-folder brand-icon"></i>
            <h2>Portfolio</h2>
        </a>
        <button class="nav-toggle" aria-label="เปิด/ปิดเมนู">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <ul>
        <li class="menu">
            <a href="index.html"><i class="fa-solid fa-home"></i><span> หน้าแรก</span></a>
            <ul class="dropbar">
                <li><a href="index.html#sop"><i class="fa-solid fa-file-alt"></i><span> SOP</span></a></li>
                <li><a href="index.html#about"><i class="fa-solid fa-user"></i><span> เกี่ยวกับฉัน</span></a></li>
                <li><a href="index.html#skills"><i class="fa-solid fa-hand"></i><span> ความสามารถ</span></a></li>
            </ul>
        </li>
        <li><a href="index.html#education"><i class="fa-solid fa-graduation-cap"></i><span> ประวัติการศึกษา</span></a></li>
        <li><a href="index.html#projects"><i class="fa-solid fa-briefcase"></i><span> โปรเจกต์</span></a></li>
        <li><a href="index.html#experience"><i class="fa-solid fa-briefcase"></i><span> การฝึกประสบการณ์</span></a></li>
        <li><a href="index.html#activities"><i class="fa-solid fa-calendar-alt"></i><span> กิจจกรรม</span></a></li>
        <li><a href="index.html#certificate"><i class="fa-solid fa-certificate"></i><span> ใบรับรอง</span></a></li>
    </ul>
</nav>
