<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Thanaphong | Activities</title>
    <link rel="icon" type="image/png" href="../img/port_icon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/navbar.js" defer></script>
</head>

<body>
    <div id="navbar"></div>

    <div id="display" class="active-box">
        ปีการศึกษา 2565
    </div>

    <main class="main-content">
        <header>
            <h1>Activities</h1>
        </header>

        <section class="event-card section" msg-active="ปีการศึกษา 2565">
            <div class="event-desc">
                <h2>แข่งขันพูดภาษาจีน</h2>
            </div>
            <p>งานศิลปหัตกรรมนักเรียน ครั้งที่ 70 แข่งขันพูดภาษาจีน ที่โรงเรียนวรนารีเฉลิม วันที่ 22 ธันวาคม 2565 อันดับที่ 4 คะแนน 85.66 ระดับเหรียญทอง</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery" style="margin-bottom: 20px;">
                <img src="../img/chin65-1.png" alt="พูดภาษาจีน65">
                <img src="../img/chin65-2.png" alt="พูดภาษาจีน65">
                <img src="../img/chin65-3.png" alt="พูดภาษาจีน65">
            </div>
            <div class="event-gallery">
                <img src="../img/chin65-0.jpg" alt="พูดภาษาจีน65">
                <img src="../img/cer_Chin1.png" alt="พูดภาษาจีน65">
            </div>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2567">
            <div class="event-desc">
                <h2>อบรม</h2>
            </div>
            <p>เข้าร่วมการอบรมโครงการปั้นช่างสร้างอาชีพ เรื่อง การติดตั้งและดูแลรักษากล้องวงจรปิด วันที่ 16 ธันวาคม 2567</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery">
                <img src="../img/trainCCTV.png" alt="อบรมกล้องวงจรปิด">
                <img src="../img/trainCCTV2.png" alt="อบรมกล้องวงจรปิด">
            </div>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2567">
            <div class="event-desc">
                <h2>เล่นดนตรี</h2>
            </div>
            <p>เล่นดนตรีกิจกรรมวันปีใหม่ แผนกเทคโนโลยีสารสนเทศ วันที่ 23 ธันวาคม 2567</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery">
                <img src="../img/concert2568-1-.png" alt="เล่นดนตรีปีใหม่">
                <img src="../img/concert2568-2.jpg" alt="เล่นดนตรีปีใหม่">
                <img src="../img/concert2568-3.jpg" alt="เล่นดนตรีปีใหม่">
            </div>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2568">
            <div class="event-desc">
                <h2>กิจกรรม นศท.</h2>
            </div>
            <p>จิตอาสาเก็บขยะน้ำท่วม วันที่ 11 ธันวาคม 2568</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery" style="margin-bottom: 20px;">
                <img src="../img/soldier1.jpg" alt="จิตอาสา">
                <img src="../img/soldier2.jpg" alt="จิตอาสา">
            </div>
            <div class="event-gallery" style="display: flex; justify-content: center;">
                <img src="../img/me2.jpg" alt="จิตอาสา" style="max-width: 320px; width: 100%;">
            </div>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2568">
            <div class="event-desc">
                <h2>กล่าวสุนทรพจน์ภาษาจีน</h2>
            </div>
            <p>งานแข่งขันทักษะกล่าวสุนทรพจน์ภาษาจีน ที่วิทยาลัยอาชีวศึกษาสงขลา วันที่ 23 ธันวาคม 2568</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery" style="margin-bottom: 20px;">
                <img src="../img/chin68-1.jpg" alt="พูดภาษาจีน68">
                <img src="../img/chin68-2.jpg" alt="พูดภาษาจีน68">
                <img src="../img/chin68-3.jpg" alt="พูดภาษาจีน68">
            </div>
            <div class="event-gallery">
                <img src="../img/chin68-0.jpg" alt="พูดภาษาจีน68">
                <img src="../img/cer_Chin2.jpg" alt="เกียรติบัตร">
            </div>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2568">
            <div class="event-desc">
                <h2>กล่าวสุนทรพจน์ภาษาจีน</h2>
            </div>
            <p>งานแข่งขันทักษะกล่าวสุนทรพจน์ภาษาจีน ที่มหาวิทยาลัยสงขลานครินทร์ วันที่ 17 มกราคม 2569</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery" style="margin-bottom: 20px;">
                <img src="../img/chin68-4m.jpg" alt="พูดภาษาจีน68">
            </div>
            <div class="event-gallery">
                <img src="../img/cer_Chin3.png" alt="เกียรติบัตร">
            </div>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2568">
            <div class="event-desc">
                <h2>กิจกรรมหน้าเสาธง</h2>
            </div>
            <p>อ่านภาษาอังกฤษวันละคำหน้าเสาธง</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery" style="margin-bottom: 20px;">
                <img src="../img/eng.jpg" alt="หน้าเสาธง">
                <img src="../img/eng1.jpg" alt="หน้าเสาธง">
                <img src="../img/eng2.jpg" alt="หน้าเสาธง">
            </div>
            <div class="event-gallery">
                <img src="../img/cer_Eng.png" alt="เกียรติบัตร">
            </div>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2568">
            <div class="event-desc">
                <h2>อบรม</h2>
            </div>
            <p>เข้าร่วมโครงการอบรมเชิงปฏิบัติการ ARDUION ROBOTICS</p>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2568">
            <div class="event-desc">
                <h2>พูดต้อนรับกรรมการประเมินสถานศึกษา</h2>
            </div>
            <p>พูดต้อนรับกรรมการประเมินสถานศึกษา วันที่ 29 เมษายน 2569</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery">
                <img src="../img/chin_welcome1.jpg" alt="พูดต้อนรับ">
                <img src="../img/chin_welcome2.jpg" alt="พูดต้อนรับ">
            </div>
        </section>

        <section class="event-card section" msg-active="ปีการศึกษา 2568">
            <div class="event-desc">
                <h2>เข้าร่วมโครงการ V-NET</h2>
            </div>
            <p>เข้าร่วมโครงการยกระดับผลสัมฤทธิ์ภาษาอังกฤษเพื่อเตรียมความพร้อมสู่การทดสอบ V-NET วันที่ 11-12 มิถุนายน 2569</p>
            <div style="height: 15px;"></div>
            <div class="event-gallery">
                <img src="../img/fenglish_v-net1.jpg" alt="V-NET">
                <img src="../img/english_v-net1.jpg" alt="V-NET">
                <img src="../img/fenglish_v-net2.jpg" alt="V-NET">
                <img src="../img/english_v-net2.jpg" alt="V-NET">
                <img src="../img/english_v-net3.jpg" alt="V-NET">
                <img src="../img/english_v-net4.jpg" alt="V-NET">
            </div>
        </section>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const displayBox = document.getElementById('display');
            const sections = document.querySelectorAll('.section');

            const observerOptions = {
                root: null,
                rootMargin: '-20% 0px -70% 0px',
                threshold: 0
            };

            const scrollObserver = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const level = entry.target.getAttribute('msg-active');
                        displayBox.innerText = `${level}`;
                        displayBox.classList.add('active-hover');
                        setTimeout(() => {
                            displayBox.classList.remove('active-hover');
                        }, 400);
                    }
                });
            }, observerOptions);

            sections.forEach(sec => scrollObserver.observe(sec));
        });
    </script>
</body>

</html>